@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #aaaaaa;
  font: normal 100%/1.5 Georgia,serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

figure {
	margin: 0;
}

@media only screen and (min-width: 35em) {

	.col{
		float: left;
		width: 50%;
		margin: 0;
	}
}

@media only screen and (min-width: 60em) {

	.col{
		float: left;
		width: 33.333%;
		margin: 0;
	}
}

h1 {
	margin: 0;
	font-family: 'Merriweather', serif; font-weight: 700; 
}

h2,
h3,
h4 {
	font-family: 'Merriweather', serif;
}



header {
	background-color: #e8e8e8;
	text-align: center;
	padding: 1em 0;

}

nav {
	font-size: 0.90rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: block;
}

nav a {
	display: block; 
	padding: 0.5em 0.75em;
	background-color: #8e8e8e;
	border-radius: 8px;
	text-decoration: none;
	font-family: 'Merriweather', serif; font-weight: 300;
	color: #fff;
}

nav a:hover {
	background-color: #fff;
	color: #8e8e8e;

}

.contact {
	text-decoration: none;
}

@media only screen and (min-width: 17em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		border-radius: 2px;
		overflow: hidden;
	}

	.contact {

	display: inline-block;
	text-decoration: none;
	padding-left: 39%;
	}

}

@media only screen and (min-width: 40em) {

	.nav {
		display: block;
		position: static;
	}

	.nav li {
		display: inline-block;
		float: none;
		width: auto;
	}
}

	main {
		padding: 0 1em;
	}

	.logo {
		width: 20%;
		margin: 0 0 0.2em 1em
}

.blockquotepara {
		border-bottom:  3px solid #fff;
		color: #4f4f4f;
		margin: 0;
		padding: 1em;
		text-align: center;
		font-style: normal;
}

blockquote {
		border-bottom:  3px solid #fff;
		color: #4f4f4f;
		margin: 0;
		padding: 1em;
		text-align: center;
		font-style: italic;
}

blockquote p {
		margin: 0;
		font-size: 1.25rem;
}

.banner {
	 position: relative;
}

	.banner-content {
		background-color: #bbb;

		text-align: center;

}




.footer {
	padding: 1em 0;
}

.mainpara {
text-align: center;
}





