
<nav class="unit unit-m-1-2 unit-l-1-3 navi">
<input type="checkbox" id="nav" class="hidden"/>
<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
<div class="nav-container">
  <ul class="works-down">
    <li><a href="{{site.baseurl}}/index.html">Works</a></li>
    <li><a href="{{site.baseurl}}/index.html#reelwork">Reel</a></li>
    <li><a href="{{site.baseurl}}/index.html#hire-moves">Contact</a></li>
  </ul>
</div>
</nav>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
<script src="js/main.js"></script>
