
<nav class="navi">
<input type="checkbox" id="nav" class="hidden"/>
<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
<div class="nav-container">
  <ul class="nav-space">
    <li><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li><a href="{{site.baseurl}}/index.html#reelwork">Reel</a></li>
    <li><a href="{{site.baseurl}}/index.html#hire-moves">Contact</a></li>
  </ul>
</div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/main.js"></script>
