			<head>
				<meta name="description" content="Navigation for my page">

			</head>

			<meta name="description" content="Navigation for my page">

			<nav> 
				<ul class="nav">
					<li><a class="btn {% if page.url == '/index.html' %}current{% endif %}" href="{{site.baseurl}}/index.html">Home</a></li>
					<li><a class="btn {% if page.url == '/works/index.html' %}current{% endif %}" href="{{site.baseurl}}/works/index.html">Works</a></li>
					<li><a class="btn" href="#contact">Contact</a></li>
				</ul>
			</nav>