@viewport {
  width: device-width;
  scale: 1;
}

@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: normal 100%/1.5 'Titillium Web', sans-serif;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  padding-top: 40px;
}

nav a:visited {
  color: #d0a91d;
}

nav ul {
  float: center;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #FFDB57;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

h6 {
  font-weight: 300;
}

footer {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}

.img-flex {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

.navi {
margin-left: 67%;
}

.grid {
  border: 1px;
  overflow: hidden;
}

.vimeo-marg {
  padding-top: 2rem;
}

.unit {
  float: left;
  width: 33.333%;
}

a:focus {
  outline: 3px dashed #928776;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -10em;
  background-color: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.totop {
  padding-left: 10em;
}

a {
  text-decoration: none;
  color: #48515B;
}

a:hover,
a:focus;

a:active {
  background-color: #48515B;
  color: #B47501;
  transition: all 500ms linear;
}

a,
a:link a:visited {
  color: #594623;
}

/*nav a:visited {

	color: #AA8857;
}
*/
.port-push {
  margin-top: 2em;
}

.port-push2 {
  margin-bottom: 2em;
}

#nav:checked+.nav-open {
  transform: rotate(45deg);
}

#nav:checked+.nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked+.nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked+.nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav-container {
  z-index: 10;
  opacity: 0.8;
}

#nav:checked~.nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

h2,
h3,
h4 {
  font-family: 'Titillium Web', sans-serif;
}

.sokai {
  color: #fff;
  font-weight: 300;
}

/*.gold-top{

	border: 2px solid #000;
}
*/
.about {
  text-align: center;
}

.about-me {
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-top: 3em;
}

.aboutmetwo {
  font-weight: 300;
  color: #FADAB9;
  text-align: center;
}

.picturespace {
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.techprof {
  text-align: center;
  color: #48515B;
  font-weight: 300;
}

.btn:hover {
  transition: all 600ms linear;
}

header {
  background-color: #B9BEC3;
  text-align: center;
  position: relative;
  height: 30em;
}

.mastheader-holtz {
  padding: 1em;
  background-color: #000;
  /*background: #000531 url("../images/holtz/holtz-bg.jpg"); */
  background-size: cover;
  height: 12em;
}

.mastheader-rcgs {
  /*background: url("../images/cangeo/rcgs-bg.png") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-mandela {
  /*background: url("../images/mandella/man-bg.jpg") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-pvf {
  /*background: url("../images/pvf/pvf-bg-frame.png") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-mockup-bg {
  /*background: url("../images/mockup/mockup-bg.jpg") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-broadcast {
  /*background: url("../images/arsenal/broadcast-bg.jpg") no-repeat top right / cover;*/
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-quotes {
  /*background: url("../images/quotes/quote-bg.jpg") no-repeat top right / cover;*/
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-skin {
  /*background: url("../images/skin/skin-across.png") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-gfs {
  /*background: url("../images/gfs/gfs-main-frame.png") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.mastheader-wwf {
  /*	background: url("../images/wwf/wwf-frame.png") no-repeat top right / cover; */
  padding: 1em;
  height: 12em;
  background-color: #000;
}

.man-space {
  padding-bottom: 2rem;
}

.back-image {
  background:
    url("../images/header-bg.jpg") no-repeat left bottom / cover;
}

.hero {
  background:
    url("../images/header-bg-1.jpg") no-repeat center center / cover;
}

/*
 .vid-shadow {

	box-shadow: 10px 10px 5px #888888;
}
*/
.current {
  background-color: #1B2026;
  color: #4C4C4C;
}

.back {
  padding-left: 2rem;
  padding-top: 2rem;
}

.backup {
  position: fixed;
  bottom: 0.5rem;
  right: 3rem;
  opacity: 0;
  transition: all 200ms ease-in;
}

.backup:hover {
  opacity: 0.8;
}

.js-dipper-animate {
  opacity: 0.3;
}

.thin {
  font-weight: 600;
}

.contact-add {
  color: #F9A719;
  padding-left: 47%;
}

.piece-text {
  text-align: center;
  padding: 1em;
  padding-top: 7em;
  font-weight: 300;
}

.piece-text2 {
  text-align: center;
  padding-left: 5em;
  padding-right: 5em;
  font-weight: 300;
}

.piece-text3 {
  text-align: center;
  padding: 1em;
  padding-top: 9em;
  font-weight: 300;
}

.contactme {
  color: #7F8FA1;
  text-align: center;
  background-color: ;
}

/*  remember to re add this!!

@media only screen and (min-width: 17em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		border-radius: 2px;
		overflow: hidden;
	}

	.contact {

		display: inline-block;
		text-decoration: none;
	}

}

@media only screen and (min-width: 40em) {

	.nav {
		display: block;
		position: static;
	}

	.nav li {
		display: inline-block;
		float: none;
		width: auto;
	}
}

*/
.col {
  color: #fff;
}

.title-box {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #717D8A;
}

.inside {
  margin-right: 8rem;
  margin-left: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title-box:hover {
  background-color: #343637;
  color: #fff;
  padding: 1em;
  text-align: center;
  border-radius: 5px 20px 5px;
  border: 3px solid #FFC766;
  transition: all 600ms linear;
}

blockquote {
  color: #48515B;
  margin: 1em;
  /*padding: 1em;*/
  text-align: center;

}

blockquote p {
  margin: 0;
  font-size: 1.25rem;
}

.blockquotepara {
  border-top: 3px solid #C59007;
  font-style: normal;
}

.blockquoteabout {
  background-color: #f68d22;
  font-weight: 300;
}

.motion-para {
  font-style: normal;
  font-weight: 300;
  color: #FFC562;
  padding-top: 1em;
}

.headcent {
  text-align: center;
}

.surround {
  margin: 1rem
}

.reel {
  text-align: center;
}

.title-box-tight {
  margin: 0;
  margin-bottom: -0.3rem;
  font-weight: 300;
}

.image-tight {
  height: 200px;
}

.logo {
  width: 100%;
  margin: 0;
}

.portfolio-studies-1 {
  color: #d6d5d4;
  background-color: $yellow;
  background-image: url("../images/holtz/holtz-1.png");
  height: 293px;
  background-position: center center;
  background-size: 30vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-2 {
  color: #d6d5d4;
  background-image: url("../images/cangeo/bergman-port-pic.png");
  background-color: $black;
  height: 293px;
  background-position: 40% 52%;
  background-size: 30vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-3 {
  color: #d6d5d4;
  background-image: url("../images/arsenal/arsenal-1.jpg");
  background-color: $yellow;
  height: 293px;
  background-position: 52% center;
  background-size: 30vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-4 {
  color: #d6d5d4;
  background-image: url("../images/skin/stack-update.jpg");
  background-color: $black;
  height: 293px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-5 {
  color: #d6d5d4;
  background-image: url("../images/quotes/quotebook-main.jpg");
  background-color: $black;
  height: 293px;
  background-position: center center;
  background-size: 150vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-6 {
  color: #d6d5d4;
  background-image: url("../images/pvf/pvf-main.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 110vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-7 {
  color: #d6d5d4;
  background-image: url("../images/gfs/gfs-main.png");
  background-color: $black;
  height: 289px;
  background-position: 52% center;
  background-size: 80vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-8 {
  color: #d6d5d4;
  background-image: url("../images/wwf/wwf-main.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 110vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-9 {
  color: #d6d5d4;
  background-image: url("../images/mandella/man-1.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-10 {
  color: #d6d5d4;
  background-image: url("../images/mandella/man-1.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-11 {
  color: #d6d5d4;
  background-image: url("../images/mandella/man-1.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.portfolio-studies-12 {
  color: #d6d5d4;
  background-image: url("../images/mandella/man-1.png");
  background-color: $yellow;
  height: 289px;
  background-position: 52% center;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.blurb {
  padding-top: 15%;
  padding-left: 23%;
}

.piece-title {
  font-family: sans-serif;
  color: #ffeb44;
}

.piece-description {
  font-family: sans-serif;
  font-weight: 300;
  color: #ffeb44;
}

.case-study {
  position: relative;
}

.case-study .masthead {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  text-align: center;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all 250ms linear;
  transition: all 500ms linear;
}

.case-study:hover .masthead {
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 1;
}

.masthead hr {
  border: 0;
  border-top: 1px solid #fff;
  width: 0em;
  margin: 0;
  padding-top: 10px;
  -webkit-transition: all 500ms linear;
  transition: all 400ms linear;
}

.case-study:hover .masthead hr {
  width: 15rem;
  border-color: #ffeb44;
  -webkit-transition: all 500ms linear;
  transition: all 400ms linear;
}

.masthead h2, .masthead p {
  max-width: 20em;
  margin: .2rem 0;
}

.links-piece {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  clear: both;
  background-color: #e6e6e6;
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: #6f6f6f;
  padding: 20px 0;
}

.footer p {
  margin: 0;
}

.contact {
  padding: 0;
  text-decoration: none;
  text-align: center;
  list-style: none;
}

.contact li {
  display: inline-block;
}

.contactabout {
  background-color: ;
  border-radius: ;
}

.space-up {
  padding-bottom: 1em;
}

.video-bg {
  background-color: #fff;
}

.box {
  text-align: center;
  margin-top: 5rem;
}

.con-title {
  text-align: center;
}

.vid {
  width: 100%;
}

.embed {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.embed-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.bottom-marg {
  margin-top: 0;
}

.helpbg {
  background-color: #FFC253;
}

h8 {
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 2em;
}

.script-type {
  color: #ffeb44;
  padding-top: 10em;
}

.hero-p p {
  text-align: center;
  display: block;
  color: #fff;
  margin: auto;
  font-size: 16px;
}
}

figure {
  margin: 0;
  padding: 20em;
}

figcaption {
  color: #fff;
  text-align: center;
}

.skills {
  margin-left: 2em;
  margin-right: 2em;
}

.skill-icon {
  display: inline-block;
  min-width: 35px;
}
}

.about-pic-image {
  height: auto;
  width: auto;
}
}

.about-section {
  padding-top: 10em;
  padding-bottom: 10em;
}

.notify-me {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  display: block;
  height: 12vh;
  padding: 2em;
}

.c-checkbox {
  display: none;
}

.c-checkbox:checked+.c-formContainer .c-form {
  width: 25.5em;
}

.c-checkbox:checked+.c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}

.c-checkbox:checked+.c-formContainer .c-form__input,
.c-checkbox:checked+.c-formContainer .c-form__buttonLabel {
  transition: 0.2s 0.1s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.c-checkbox:not(:checked)+.c-formContainer .c-form__input:required:valid~.c-form__toggle::before, .c-checkbox:checked+.c-formContainer .c-form__input:required:valid~.c-form__toggle::before {
  content: 'Will contact you shortly';
}

.c-checkbox:not(:checked)+.c-formContainer .c-form__input:required:valid~.c-form__toggle {
  pointer-events: none;
  cursor: default;
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 17em;
  height: 3.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: #ffffff;
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: #000000;
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggle::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #cead00;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
}

.c-form__input::placeholder {
  color: currentColor;
}

.c-form__input:required:valid {
  color: #fdd501;
}

.c-form__input:required:valid+.c-form__buttonLabel {
  color: #ffffff;
}

.c-form__input:required:valid+.c-form__buttonLabel::before {
  pointer-events: initial;
}

.c-form__buttonLabel {
  color: #ffffff;
  height: 100%;
  width: auto;
}

.c-form__buttonLabel::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #333333;
}

.about-sean {
  padding: 1em 10% 1em;
  background-image: linear-gradient(to right bottom, #ffec4c, #f7e655);
}

.about-potrait {
  max-width: 180px;
}

.proficiency {
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  padding: 0
}

.proficiency li {
  display: inline-block;
}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.btn-hire-div {
  text-align: center;
  margin: 2em;
}

.btn-hire {
  padding: 0.5em 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  border-radius: ;
  border-color: #000;
  font-size: 18px;
  transition: all 200ms linear;
}

.email-app {

    opacity: 0.3;
    padding-bottom: 10px;
}

.btn-hire:hover  {
  background: #000;
  color: #fcdc32;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 4em 0;
  text-align: center;
}

#contact h3 {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  padding: 0;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  padding: 0.8em 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #000;
  background: #fff;
  border: 2px solid #000;
  border-radius: em;
  border-color: #000;
  font-size: 18px;
}

#contact button[type="submit"]:hover {
  background: #e2d300;
  color: #fff;
  border-color: #e2d300;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.contact-bg {
  background: url("../images/contact-bg.jpg") no-repeat center center / cover;
}

.portfolio-tag {
  text-align: center;
  text-decoration: none;
}

.video-tag {
  text-align: center;
  text-decoration: none;
}

.mega {
  color: #fff;
  z-index: 5;
}

.nav-space {
padding: 0 0em;

}


@media only screen and (min-width: 10em) {
  .portfolio-studies-1 {
    background-size: 120vw auto;
    background-position: 85% auto;
  }

  .portfolio-studies-2 {
    background-size: 120vw auto;
    background-position: 40% bottom;
  }

  .portfolio-studies-3 {
    background-size: 100vw auto;
    background-position: 50% center;
  }

  .portfolio-studies-4 {
    background-size: 100vw auto;
    background-position: center center;
  }

  .portfolio-studies-5 {
    background-size: 130vw auto;
    background-position: center auto;
  }

  .portfolio-studies-6 {
    background-size: 130vw auto;
    background-position: center auto;
  }

  .portfolio-studies-10 {
    background-size: 130vw auto;
    background-position: center auto;
  }

}

@media only screen and (min-width: 20em) {
  header {
    height: 38em;
  }
}

@media only screen and (min-width: 25em) {
  .portfolio-studies-1 {
    background-size: 78vw auto;
    background-position: 85% auto;
  }

  .portfolio-studies-2 {
    background-size: 100vw auto;
    background-position: 40% bottom;
  }

  .portfolio-studies-3 {
    background-size: 100vw auto;
    background-position: 50% center;
  }

  .portfolio-studies-4 {
    background-size: 70vw auto;
    background-position: center center;
  }

  .portfolio-studies-5 {
    background-size: 130vw auto;
    background-position: center center;
  }

  .skill-icon {
    max-width: 88px;
    min-width: 70px;
  }

  h8 {
    font-size: 3.5em;
  }

  .notify-me {
    height: 15vh;
  }

  .c-formContainer,
  .c-form,
  .c-form__toggle {
    width: 20em;
    height: 6.25em;
  }

  .c-checkbox:checked+.c-formContainer .c-form {
    width: 37.5em;
  }

  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 38em) {
  .portfolio-studies-1 {
    background-size: 50vw auto;
    background-position: 85%;
  }

  .portfolio-studies-2 {
    background-size: 55vw auto;
    background-position: 40% center bottom;
  }

  .portfolio-studies-3 {
    background-size: 50vw auto;
    background-position: 52% center;
  }

  .portfolio-studies-4 {
    background-size: 44vw auto;
    background-position: 85%;
  }

  .portfolio-studies-5 {
    background-size: 110vw auto;
    background-position: 50%;
    height: 340px;
  }

  .portfolio-studies-6 {
    background-position: center bottom;
    background-size: 40vw auto;
  }

  .portfolio-studies-7 {
    background-position: 52% center;
    background-size: 40vw auto;
  }

  .portfolio-studies-8 {
    background-position: 52% center;
    background-size: 50vw auto;
  }

  .skills {
    margin-left: 5em;
    margin-right: 5em;
  }

  h8 {
    font-size: 5.5em;
  }

  .logo {
    max-width: 200px;
  }

  .portfolio-tag {
    margin: 0;
    padding: 1em 0 1em 4em;
    text-align: left;
    text-decoration: none;
  }

  .video-tag {
    margin: 0;
    padding: 1em 4em 1em 0;
    text-align: right;
    text-decoration: none;
  }

  .script-type {
    color: #ffeb44;
    height: 80px;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 48em) {
  .inside {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media only screen and (min-width: 53em) {
  .hero-p p {
    text-align: center;
    display: block;
    color: #fff;
    margin: auto;
    font-size: 16px;
  }

  .container {
    max-width: 450px;
  }

  .about-sean {
    padding: 3.5em 20% 3.5em;
  }

  .thin {
    font-weight: 600;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 60em) {
  .portfolio-studies-1 {
    background-size: 30vw auto;
    background-position: 85%;
    height: 293px;
  }

  .portfolio-studies-2 {
    background-size: 50vw auto;
    background-position: 50% bottom;
    height: 293px;
  }

  .portfolio-studies-3 {
    background-size: 40vw auto;
    background-position: 52% center;
    height: 293px;
  }

  .portfolio-studies-4 {
    background-size: 30vw auto;
    background-position: 85%;
    height: 293px;
  }

  .portfolio-studies-5 {
    background-size: 100vw auto;
    background-position: 50%;
    height: 293px;
  }

  .portfolio-studies-6 {
    background-position: 52% center;
    background-size: 36vw auto;
  }

  .portfolio-studies-7 {
    background-position: 52% center;
    background-size: 35vw auto;
  }

  .portfolio-studies-8 {
    background-position: 52% center;
    background-size: 32vw auto;
  }

  .wrapper {
    max-width: 670px;
    margin: 2em auto;
  }

  .skills {
    display: block;
    margin-left: 20em;
    margin-right: 20em;
    max-width: 2000px;
  }

  .case-study .masthead {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    -webkit-transition: all 250ms linear;
    transition: all 500ms linear;
  }

  .case-study:hover .masthead {
    background-color: #00000075;
    opacity: 1;
  }

  .btn-hire {
    padding: 0.5em 3em;
  }

  .email-app {
display: none;
  }

  .btn-hire:hover + .email-app {
    position: absolute;
    left: 20%;
    Right: 20%;
    display: block;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 60em) {}

@media screen and (max-width: 63.75em) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #000;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 27%;
    transform: translateY(-50%);
    width: 100%;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #FFDB57;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #FFDB57;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
