@viewport { width: device-width; scale: 1; }
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }

html {
 	box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  
  font: normal 100%/1.5 'Merriweather',serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}



h6 {
	font-family: 'Merriweather', serif; font-weight: 300;
}

footer {

	font-family: 'Merriweather', serif; font-weight: 300;
}

.img-flex {
	display: block;
	width: 100%;
}

figure {
	margin: 0;
}

.grid {
	border: 1px;
	overflow: hidden;
}

.vimeo-marg {
	padding-top: 2rem;
}

.unit {
	float: left;
	width: 33.333%;
}

a:focus {
	outline: 3px dashed #928776;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skip-links a {
	position: absolute;
	top: -10em;
	background-color: #000;
	color: #fff;
	padding: 0.5em 0.75em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
	top: 0;

}

.totop {
	padding-left: 10em;
}

a {
	text-decoration: none;
	color: #48515B;
}


a:hover,
a:focus;
a:active {

	background-color: #48515B;
	color: #B47501;
	transition: all 500ms linear;

}

a,
a:link 
a:visited {
	

	color: #594623;
	
}


nav a:visited { 

	color: #AA8857; 
}


.port-push {

	margin-top: 2em;
}

.port-push2 {

	margin-bottom: 2em;
}






@media only screen and (min-width: 60em) {

	.wrapper{
	max-width: 980px;
	margin: 0 auto;
}


}

h1 {
	margin: 0;
	font-family: 'Merriweather', serif; font-weight: 700; 
}

h2,
h3,
h4 {
	font-family: 'Merriweather', serif;
}

.sokai {
	color: #fff;
	font-weight: 300;
}

/*.gold-top{

	border: 2px solid #000;
}
*/

.aboutme {

	font-weight: 300;
	color: #fff;
	text-align: center;
}

.aboutmetwo {
	
	font-weight: 300;
	color: #FADAB9;
	text-align: center;
}

.picturespace {

	margin-bottom: 2px;
	padding-left: 2px; 
	padding-right: 2px;
}

.techprof {

	text-align: center;
	color: #48515B;
	font-weight: 300;
}

.btn:hover {
	transition: all 600ms linear;
}





header {
	background-color: #B9BEC3;
	text-align: center;
	padding: 1em 0 1px;
	position: relative;	

}

.mastheader-holtz {
	padding: 1em;
	background: #000531 url("../images/holtz/holtz-bg.jpg");
	background-size: cover;
}

.mastheader-rcgs {
	background: url("../images/cangeo/rcgs-bg.png") no-repeat top right / cover;
	padding: 1em;

}

.mastheader-mandela {
	background: url("../images/mandella/man-bg.jpg") no-repeat top right / cover;
	padding: 1em;

}

.mastheader-pvf {
	background: url("../images/pvf/pvf-bg-frame.png") no-repeat top right / cover;
	padding: 1em;

}

.mastheader-mockup-bg {
	background: url("../images/mockup/mockup-bg.jpg") no-repeat top right / cover;
	padding: 1em;

}

.mastheader-broadcast {
	background: url("../images/arsenal/broadcast-bg.jpg") no-repeat top right / cover;
	padding: 1em;
}

.mastheader-quotes {
	background: url("../images/quotes/quote-bg.jpg") no-repeat top right / cover;
	padding: 1em;
}

.mastheader-skin {
	background: url("../images/skin/skin-across.png") no-repeat top right / cover;
	padding: 1em;
}

.mastheader-gfs {
	background: url("../images/gfs/gfs-main-frame.png") no-repeat top right / cover;
	padding: 1em;
}

.mastheader-wwf {
	background: url("../images/wwf/wwf-frame.png") no-repeat top right / cover;
	padding: 1em;
}


.man-space{
	padding-bottom: 2rem;
}

/*.back-image {

	background:	
	 url("../images/header-bg.jpg") no-repeat left bottom / cover;

}

*/

.hero {

	background:	
	 url("../images/header-bg.jpg") no-repeat center center / cover;
	padding: 3.5em 0;
}



nav {
	font-size: 0.90rem;
}

.nav {

	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 15em;
	padding-left: 1rem;

}



nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: block;
}

.bg-col-nav {

	background-color: #3E4146;

}

nav a {
	display: block; 
	padding: 0.5em 0.5em;
	border-radius: 8px;
	border: 1px solid #313131;
	text-decoration: none;
	font-family: 'Merriweather', serif; font-weight: 300;
	color: #FFC562;
}



.nav a:hover {
	background-color: #000;
	color: #DFB880;
	border-radius: 10px;
	padding: .7em .7em;


}

.current{
background-color: #1B2026;
	color: #4C4C4C;


}

.background-color-nav {
	background-color: #1B2026;
}

.back {
	padding-left: 5rem;
	padding-top: 2rem;
}

.backup {
	margin-left: 10em;
	position: fixed;
	bottom: 0.5rem;
	right: 3rem;

}



.nav-check:checked ~ .nav {

	display: block;
}

.nav-check {

	position: absolute;
	top: -3em;
}

.nav-label {
	cursor: pointer;
	font-size: 1.25rem;
	display: inline-block;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 3%;
	bottom: 0;
	background-image: url("../images/toggle-nav.svg");
	background-size: 40px auto;
	overflow: hidden;
	text-indent: 100%;
	padding-right: 2em;
	white-space: nowrap;

}


.nav-check:checked ~ .nav-label {
	 background-color: #ccc;
	 background-position: center bottom;

}



.nav-check:checked ~ .nav-label .nav-open {

	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}



@media only screen and (min-width: 27em) {

	
    .nav {
    	width: 100%;
    }

	.nav li {
		float: left;
		width: 50%;

	}
}

@media only screen and (min-width: 35em) {


	header {
		padding-bottom: 1em;
	}

	.nav-check,
	.nav-label {

		display: none;
	}

	.nav {
		display: block;
		position: static;
	}

	.nav li {

		float: none;
		width: auto;
		display: inline-block;
	}



}

.thin {
	font-weight: 300;
}



.contact-add {
	color: #F9A719;
	padding-left: 47%;
}



.piece-text {

	text-align: center;
	padding: 1em;
	padding-top: 7em;
	font-weight: 300;
}

.piece-text2{

	text-align: center;
	padding: 1em;
	padding-top: 3em;
	font-weight: 300;

}


.piece-text3{

	text-align: center;
	padding: 1em;
	padding-top: 9em;
	font-weight: 300;

}
.contactme {
	color: #7F8FA1;
	text-align: center;
	background-color: ;

}

/*  remember to re add this!!

@media only screen and (min-width: 17em) {

	.nav {
		text-align: center;
	}

	.nav li {
		display: inline-block;
		border-radius: 2px;
		overflow: hidden;
	}

	.contact {

		display: inline-block;
		text-decoration: none;
	}

}

@media only screen and (min-width: 40em) {

	.nav {
		display: block;
		position: static;
	}

	.nav li {
		display: inline-block;
		float: none;
		width: auto;
	}
}

*/


.logo {
		width: 20%;
		margin: 0 0 0.2em 1em;
}

.col {

	color: #fff;
}

.title-box {

	background-color: #fff;
	padding: 1em;
	text-align: center;
	border-radius: 10px;
  	border: 3px solid #717D8A;
}

.inside {
	margin-right: 8rem;
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title-box:hover {

	background-color: #343637;
	color: #fff;
	padding: 1em;
	text-align: center;
	border-radius: 5px 20px 5px;
  	border: 3px solid #FFC766;
  	transition: all 600ms linear;

}


blockquote {
		color: #48515B;
		margin: 1em;
		/*padding: 1em;*/
		text-align: center;
		font-style: italic;
}

blockquote p {
		margin: 0;
		font-size: 1.25rem;
}

.blockquotepara1 {

	font-family: 'Merriweather', serif; font-weight: 300;
	border-bottom:  3px solid #C59007;
	font-style: normal;	
}

.blockquotepara {

	border-top:  3px solid #C59007;
	font-style: normal;	
}

.blockquoteabout {
	
	padding-top: 6rem;
	padding-bottom: 7rem;
	background-color: #f68d22;
	font-weight: 300;
}

.motion-para {

	font-style: normal;
	font-weight: 300;
	color: #FFC562;
	padding-top: 1em;
}



.headcent {

	text-align: center;
}

.surround {
	margin: 1rem
}

.reel{
	text-align: center;
}

.piece-description-color {
    color: $yellow;
}

.title-box-tight {

	margin: 0;
	margin-bottom: -0.3rem;
	font-weight: 300;
}


.image-tight{

	height: 200px;
}





.portfolio-studies-1 {
    color: #d6d5d4;
    background-color: $yellow;
    background-image: url("../images/holtz/holtz-1.png");
    height: 293px;
    background-position: center center;
    background-size: 30vw auto;
    background-repeat: no-repeat;
}

.portfolio-studies-2 {
    color: #d6d5d4;
    background-image: url("../images/cangeo/bergman-port-pic.png");
    background-color: $black;
    height: 293px;
    background-position: 40% 52%;
    background-size: 30vw auto;
    background-repeat: no-repeat;
}

.portfolio-studies-3 {

    color: #d6d5d4;
    background-image: url("../images/arsenal/arsenal-1.jpg");
    background-color: $yellow;
    height: 293px;
    background-position: 52% center;
    background-size: 30vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-4 {

    color: #d6d5d4;
    background-image: url("../images/skin/stack-update.jpg");
    background-color: $black;
    height: 293px;
    background-position: center center;
    background-size: 150vw auto;
    background-repeat: no-repeat;
}

.portfolio-studies-5 {

    color: #d6d5d4;
    background-image: url("../images/quotes/quotebook-main.jpg");
    background-color: $black;
    height: 293px;
    background-position: center center;
    background-size: 150vw auto;
    background-repeat: no-repeat;
}


.portfolio-studies-6 {

    color: #d6d5d4;
    background-image: url("../images/pvf/pvf-main.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 110vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-7 {

    color: #d6d5d4;
    background-image: url("../images/gfs/gfs-main.png");
    background-color: $black;
    height: 289px;
    background-position: 52% center;
    background-size: 80vw auto;
    background-repeat: no-repeat;
}

.portfolio-studies-8 {

    color: #d6d5d4;
    background-image: url("../images/wwf/wwf-main.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 110vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-9 {

    color: #d6d5d4;
    background-image: url("../images/mandella/man-1.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 100vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-10 {

    color: #d6d5d4;
    background-image: url("../images/mandella/man-1.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 100vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-11 {

    color: #d6d5d4;
    background-image: url("../images/mandella/man-1.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 100vw auto;
    background-repeat: no-repeat;

}

.portfolio-studies-12 {

    color: #d6d5d4;
    background-image: url("../images/mandella/man-1.png");
    background-color: $yellow;
    height: 289px;
    background-position: 52% center;
    background-size: 100vw auto;
    background-repeat: no-repeat;

}

.blurb {

	padding-top: 15%;
	padding-left: 23%;
}


.piece-title {
    font-family: sans-serif;
    color: #fff;
}

.piece-description {
    font-family: sans-serif;
    font-weight: 300;
    color: #ffce72;
}

.case-study {
    position: relative;
}

.case-study .masthead {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    -webkit-transition: all 250ms linear;
    transition: all 500ms linear;
}

.case-study:hover .masthead {
    opacity: 1;
}

.masthead hr {
    border: 0;
    border-top: 1px solid #fff;
    width: 0em;
    margin: 0;
    padding-top: 10px;
    -webkit-transition: all 500ms linear;
    transition: all 400ms linear;
}

.case-study:hover .masthead hr {
    width: 15rem;
}

.masthead h2, .masthead p {
    max-width: 20em;
    margin: .2rem 0;

}




.links-piece {
    display: block;
    cursor: pointer;
    text-decoration: none;
}


@media only screen and (min-width: 10em){

 .portfolio-studies-1 {
        background-size: 120vw auto;
        background-position: 85% auto;
    }

    .portfolio-studies-2 {
        background-size: 120vw auto;
        background-position: 40% bottom;
    }

    .portfolio-studies-3 {
        background-size: 100vw auto;
        background-position: 50% center;
    }

    .portfolio-studies-4 {
        background-size: 100vw auto;
        background-position: center center;
    }

    .portfolio-studies-5 {
        background-size: 130vw auto;
        background-position: center auto;

    }

    .portfolio-studies-6 {
        background-size: 130vw auto;
        background-position: center auto;

    }

    .portfolio-studies-10 {
        background-size: 130vw auto;
        background-position: center auto;

    }


@media only screen and (min-width: 25em){

 .portfolio-studies-1 {
        background-size: 78vw auto;
        background-position: 85% auto;
    }

    .portfolio-studies-2 {
        background-size: 100vw auto;
        background-position: 40% bottom;
    }

    .portfolio-studies-3 {
        background-size: 100vw auto;
        background-position: 50% center;
    }

    .portfolio-studies-4 {
        background-size: 70vw auto;
        background-position: center center;
    }

    .portfolio-studies-5 {
        background-size: 130vw auto;
        background-position: center center;

    }







}


@media only screen and (min-width: 38em){

	.portfolio-studies-1 {
        background-size: 50vw auto;
        background-position: 85%;
    }

     .portfolio-studies-2 {
        background-size: 55vw auto;
        background-position: 40% center bottom;

    }

    .portfolio-studies-3 {
        background-size: 50vw auto;
        background-position: 52% center;
    }

    .portfolio-studies-4 {
        background-size: 44vw auto;
        background-position: 85%;
    }

    .portfolio-studies-5 {
        background-size: 110vw auto;
        background-position: 50%;
        height: 340px;
    }

    .portfolio-studies-6 {
    background-position: center bottom;
    background-size: 40vw auto;

}

.portfolio-studies-7 {

    background-position: 52% center;
    background-size: 40vw auto;
  
}

    .portfolio-studies-8 {
    background-position: 52% center;
    background-size: 50vw auto;
    

}


	}









@media only screen and (max-width: 48em) {

	.inside {
		margin-left: 5rem;
		margin-right: 5rem;
	}

	}



.footer {
	clear: both;
	background-color: #262C33;
	padding: 0.5rem 1rem;
	font-size: 0.5rem;
	color: #FADAB9;
}

.footer p {
	margin: 0;
}

.contact {

		padding: 0;
		text-decoration: none;
		text-align: center;
		list-style: none;
}

.contact li {

	display: inline-block;
}

.contactabout{
	background-color: ;
}

.about-pic {
	
	background: url("../images/sean.jpg") no-repeat top center / cover; 
}


 @media only screen and (min-width: 60em){

.portfolio-studies-1 {
            background-size: 30vw auto;
            background-position: 85%;
            height: 293px;
        }

         .portfolio-studies-2 {
        background-size: 50vw auto;
        background-position: 50% bottom;
        height: 293px;
    }

    .portfolio-studies-3 {
        background-size: 40vw auto;
        background-position: 52% center;
        height: 293px;
    }

    .portfolio-studies-4 {
        background-size: 30vw auto;
        background-position: 85%;
        height: 293px;
    }



    .portfolio-studies-5 {
            background-size: 100vw auto;
            background-position: 50%;
            height: 293px;
        }

    .portfolio-studies-6 {
    background-position: 52% center;
    background-size: 36vw auto;

}


.portfolio-studies-7 {

    background-position: 52% center;
    background-size: 35vw auto;
  
}

    .portfolio-studies-8 {
    background-position: 52% center;
    background-size: 32vw auto;
    

}



    img.resize {

	width: 80%;
	padding-left: 17rem;
}



 }


@media only screen and (max-width: 60em) {

.about-pic {
	height: 29em;
	}
}



.space-up {
	padding-bottom: 1em;
}

.video-bg{
	background-color: #fff;
}



.box {
	text-align: center;
	margin-top: 5rem;
}

.con-title{

	text-align: center;
}




.vid {
	width: 100%;
}


.embed {

	overflow: hidden;
	width: 100%;
	position: relative;
}

.embed-item {

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

}

.embed-16by9 {

	padding-top: 56.25%;
}

.bottom-marg {
	margin-top: 0;
}

.helpbg {

	background-color: #FFC253;
}

