<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Seanzokai Portfolio · Designer · Ottawa · Canada</title>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="The home page to my portfolio pieces linking you to my works and contact info">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic,900' rel='stylesheet'> 
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>


	<header class="masthead hero" role="banner" id="top">

		<ul class="skip-links">
			<li><a href="#nav">Skip to navigation</a></li>
			<li><a href="#main">Skip to main</a></li>
			<li><a href="#contact">Skip to contact</a></li>
		</ul>

		<div class="logo unit-s-1-3"> 


			<a href="index.html">
				<img class="img-flex" src="{{site.baseurl}}/images/logo.png" alt="sean okai logo">
			</a>

			<h3 class="sokai">Sean Okai</h3>

		</div>

	<!--- 	<h1 class="col">Works of Sean Okai </h1> -->

		{% include nav.html %}
	
	</header>

	<main role="main">

	<div>
		<blockquote class="blockquotepara1">
		<h6>We don't stop playing because we grow old; we grow old because we stop playing. 
		 <footer><cite>  – George Bernard Shaw. </cite> </footer></h6>

		</blockquote>

	</div>

<!--
		<div class="embed embed-16by9">

		
		 to add personal video.. just copy the right url to the folder location. also for video there is "controls" or "autoplay" woth for loop respectively.
			<video class="embed-item" src="kinananh.mov" autoplay poster="img/favicon.png" loop muted>
				A video of my portfolio pieces.

				<img src="img/favicon.png" alt="">

			</video> -->


	{{content}}



	<footer class="gutter" role="contentinfo">
		 <p>© Piolab design portfolio for Graphic design <a href="#top" class="totop">Back^up</a> </p>
	</footer>


<script type="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>	
<script src="js/main.js"></script>
</body>

</html>