<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Seanzokai Portfolio · Designer · Ottawa · Canada{% if page.titleAfter %} · {{page.titleAfter}}{% endif %} </title>
  <meta name="description" content="{{page.meta}}">
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700,900" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
</head>

<body>


  <header class="grid masthead hero island">

    <ul class="skip-links">
      <li><a href="#nav">Skip to navigation</a></li>
      <li><a href="#main">Skip to main</a></li>
      <li><a href="#contact">Skip to contact</a></li>
    </ul>



    <div class="unit unit-l-1-3">


      <a href="index.html">
        <img class="logo" src="{{site.baseurl}}/images/logo-home.png" alt="sean okai logo">
      </a>


    </div>
    <div class="unit unit-s-1-3 unit-l-2-3">
      {% include main-navigation.html %}

    </div>

    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 script-type">
      <h8>I
        <span class="txt-rotate" data-period="450" data-rotate='[ "am Sean", "Market...", "Code...", "Design...", "Strategize...", "then repeat!" ]'></span>

      </h8>
    </div>


    <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 hero-p">
      <p>
        A media marketing enthusiast with a zeal for design problem-solving.
      </p>

    </div>

    <div class=" unit unit-xs-1-2 unit-s-1 unit-m-1 unit-l-1 skills">

      <figure class="design-icon unit unit-s-1-4 unit-m-1-4">
        <img class="skill-icon" src="../images/g-design-skill.svg" alt="design-logo" style="width:50%">
        <figcaption>
          <p>Design</p>
        </figcaption>


      </figure>
      <figure class="design-icon unit unit-xs-1-2 unit-s-1-4 unit-m-1-4">
        <img class="skill-icon" src="../images/ui-ux-skill.svg" alt="ui/ux skill logo" style="width:50%">
        <figcaption>
          <p>UI/UX</p>
        </figcaption>


      </figure>
      <figure class="design-icon unit unit-xs-1-2 unit-s-1-4 unit-m-1-4 ">
        <img class="skill-icon" src="../images/video-skill.svg" alt="video skill logo" style="width:50%">
        <figcaption>
          <p>Video</p>
        </figcaption>
      </figure>


      <figure class="design-icon unit unit-xs-1-2 unit-s-1-4 unit-m-1-4">
        <img class="skill-icon" src="../images/web-dev-skill.svg" alt=" web dev skill logo" style="width:50%">
        <figcaption>
          <p>Web</p>
        </figcaption>
      </figure>


    </div>


  </header>

  <main>



    {{content}}




  </main>

  <footer class="gutter footer">
    <p>2021 © Sean Z Okai • Coded by yours, truly <img class="footer-icon" src="../images/footer-logo.png" alt="heartlogo"></p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
