<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Seanzokai Portfolio · Works · Ottawa · Canada</title>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="the main piece setup for my portfolio pieces">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic,900' rel='stylesheet'>
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
</head>

<body>

	<header class="masthead">
		<h1>A Piece by Sean Okai</h1>
		<div class="logo">
			<a href="index.html">
				<img class="img-flex" src="{{site.baseurl}}/images/logo.png" alt="sean okai logo">
			</a>
		</div>

		{% include nav.html %}

	</header>


	<div class="back">
	<a href="{{site.baseurl}}/works/index.html" alt=""><img src="{{site.baseurl}}/images/back.svg"></a>
	</div>


	{{content}}


	<h2 class="con-title">Contact</h2>
	<div>


		<div class="contact unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">


		<!--	<div class="mail-icon">
			  <p class="font-style">@</p>
			</div>

			<a id="contact"></a>

		-->

			<a id="contact"></a>

			<div>
			   <a href="https://instagram.com/piolab/"> Instagram </a>
			</div>

			<div>
			   <a href="https://github.com/seanokai/business-card-site"> Github </a>
			</div>

		</div>

	</div>

	<footer class="gutter">
			<p>2021 © Sean Okai • All Rights Reserved.</p>
	</footer>

</body>

</html>
