<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %} Seanzokai Portfolio</title>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="the main page for my portfolio pieces">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic,900' rel='stylesheet'>
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
</head>

<body>

	<header class=" {{page.mastheadClass}}">

		<div class="unit unit-s-1-3 unit-l-2-3">
			<a href="{{site.baseurl}}/index.html">
				<img class="img-flex logo" src="{{site.baseurl}}/images/logo-home.png" alt="sean okai logo">
			</a>
		</div>

	     {% include main-navigation-2.html %}

	</header>


  <div class="back">
  <a href="{{site.baseurl}}/index.html" alt=""><img src="{{site.baseurl}}/images/back.svg"></a>
  </div>


	{{content}}


		<h4 class="contactme thin">CONTACT ME</h4>

		<a id="contact"></a>
		<ul class="contact box unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<li>
			   <a href="https://instagram.com/piolab/"><img src="{{site.baseurl}}/images/instagram.svg"></a>
			</li>

			<li>
			   <a href="https://www.behance.net/seanokai"><img src="{{site.baseurl}}/images/behance.svg"></a>
			</li>

			<li>

			<a href="mailto:seanokai@hotmail.com"><img src="{{site.baseurl}}/images/mail.svg"></a>

			</li>

			<li>
	<a href="https://ca.linkedin.com/in/sean-okai-256b5864"><img src="{{site.baseurl}}/images/linked-in.svg"></a>
			</li>

			<li>
	<a href="https://github.com/seanokai/business-card-site"><img src="{{site.baseurl}}/images/github.svg"></a>
			</li>
		</ul>

<div >
<a href="#top" ><img class="backup" src="{{site.baseurl}}/images/backup.svg"></a>
</div>

</main>

	<footer class="gutter footer" role="contentinfo">
		 <p>2018 © Sean Okai • All Rights Reserved.</p>
	</footer>

</body>

</html>
