<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Seanzokai Portfolio · Works · Ottawa · Canada</title>
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="the main page for my portfolio pieces">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700,300,300italic,400italic,700italic,900' rel='stylesheet'> 
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>

	<header class="masthead">
		<h1>The Works of Sean Okai</h1>
		<div class="logo"> 
			<a href="index.html">
				<img class="img-flex" src="{{site.baseurl}}/images/logo.png" alt="sean okai logo">
			</a>
		</div>

		{% include nav.html %}
	
	</header>


	<div>
	<a href="{{site.baseurl}}/works/index.html" alt="">Backbutton</a>
	</div>


	{{content}}

	<footer class="footer gutter">
			<p>© Piolab design portfolio for Graphic design.</p>
	</footer>

</body>

</html>