<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %} Seanzokai Portfolio</title>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="the main page for my portfolio pieces">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700,900" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
</head>

<body>

	<header class="grid {{page.mastheadClass}}" id="top">

    <ul class="skip-links">
      <li><a href="#nav">Skip to navigation</a></li>
      <li><a href="#main">Skip to main</a></li>
      <li><a href="#contact">Skip to contact</a></li>
    </ul>

		<div class="unit unit-l-1-3 nav-push-out">
			<a href="{{site.baseurl}}/index.html">
				<img class="logo" src="{{site.baseurl}}/images/logo-home.png" alt="sean okai logo">
			</a>
		</div>

    <div class="unit unit-s-1-3 unit-l-2-3">
	     {% include main-navigation-2.html %}
    </div>

	</header>


  <div class="back">
  <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/back.svg" alt="back button"></a>
  </div>


	{{content}}

  <div>
  <a class="backup dipper" href="#top" ><img src="{{site.baseurl}}/images/backup.svg" alt="backup button"></a>
  </div>


  <footer class="gutter footer">
    <p>2021 © Sean Okai • All Rights Reserved. Made with <img class="footer-icon" src="../images/footer-logo.png" alt="heartlogo"></p>
  </footer>

  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
